{"swagger":"2.0","info":{"description":"FranConnect SKY REST API Developer Portal","version":"1.0","title":"FranConnect SKY REST API","termsOfService":"Terms of service","contact":{"name":"FranConnect"},"license":{"name":"FranConnect","url":"http://www.franconnect.com/license.txt"}},"host":"api.franconnectqa.net:8095","basePath":"/manage-finance","tags":[{"name":"Finance Api","description":""},{"name":"Overview","description":"<h3 class=\"western\">Finance API Overview</h3>\n<p>This API is built to allow users to automate the transfer of data between the FranConnect system&rsquo;s Finance module and their 3<sup>rd</sup> party Finance/ POS systems. FranConnect&rsquo;s APIs are RESTful in nature and support the transfer Create, Retrieve, Update, and Delete (CRUD) operations.</p>\n<h3 class=\"western\">Rate limits and accounts</h3>\n<p>Currently, FranConnect&rsquo;s REST APIs do not impose any rate limit restrictions but users are expected to retrieve data after certain interval and retrieve only the deltas (wherever applicable) so as to not overload the system. Retrieving a large dataset might result in slowness and impede the overall system performance.</p>\n<h3 class=\"western\">Concurrent Requests</h3>\n<p>Franconnect&rsquo;s APIs do not support concurrent requests and the API expects that the requests be served one at a time.</p>\n<h3 class=\"western\">Authentication</h3>\n<p>FranConnect supports OAuth 2.0 for authenticating requests before they can be used to perform CRUD operations using FranConnect&rsquo;s API. Further details on how to set up the authentication and generate the access token can be found <span style=\"color: #0563c1;\"><u><a href=\"#_Authentication\">here</a></u></span>.</p>"},{"name":"Authentication","description":"<b class=\"western\">Authentication</b>\n<p>Authentication in the REST API for Finance happens using OAuth 2.0 with grant type as &ldquo;password&rdquo;. In order to generate an access token, the user has to have a valid FCSky login credential. The subsequent steps are as below:</p>\n<ol>\n<li>\n<p>The user has to make a &ldquo;POST&rdquo; type request to <span style=\"color: #0563c1;\"><u><a href=\"https://auth.franconnectqa.net/userauth/oauth/token\">https://auth.franconnectqa.net/userauth/oauth/token</a></u></span> with &ldquo;Authorization&rdquo; set as &ldquo;Basic Auth&rdquo; with &ldquo;client_id&rdquo; and &ldquo;client_secret&rdquo; being &ldquo;fcsky&rdquo; and &ldquo;fcskysecret&rdquo;. This is common for all customers.</p>\n</li>\n<li>\n<p>Along with this, the user has to mention &ldquo;Content-Type&rdquo; as &ldquo;application/json&rdquo; (or &ldquo;application/xml) and &ldquo;X-TenantId&rdquo; as the user&rsquo;s FranConnect system&rsquo;s login URL prior to &ldquo;/fc&rdquo;. This means that in case the user&rsquo;s FranConnect system&rsquo;s URL is &ldquo;abc.franconnect.net/fc&rdquo;, the &ldquo;X-TenantId&rdquo; would be &ldquo;abc.franconnect.net&rdquo; (without the double quotes).</p>\n</li>\n<li>\n<p>In the body of the request, the user has to fill in his/ her username and password in the &ldquo;username&rdquo; and &ldquo;password&rdquo; fields and has to specify the &ldquo;grant_type&rdquo; as &ldquo;password&rdquo;.</p>\n</li>\n</ol>\n<p>This request is to be posted as &ldquo;form-data&rdquo; on the <span style=\"color: #0563c1;\"><u><a href=\"https://auth.franconnectqa.net/userauth/oauth/token\">https://auth.franconnectqa.net/userauth/oauth/token</a></u></span> URL to generate an access token.</p>"},{"name":"Retrieve Franchise Number","description":"<p>&nbsp;</p>\n<p>Franchise ID, mentioned in various endpoints, refers to the franchise number against which any type of Create, Retrieve, Update, or Delete (hereafter to be referred as CRUD) operation is to be performed.</p>\n<p>This can be found from &ldquo;Admin &gt; Manage Franchise Location&rdquo; and then by clicking on the &ldquo;modify&rdquo; option from the action menu corresponding to the franchise location for which the sales categories are being retrieved.</p>\n<p>Note: The franchisee numbers are immutable and there can only be one franchise number corresponding to a franchise location. It is, therefore, a one-time activity to retrieve the franchise number for each location and the franchise number thus retrieved can be used in subsequent operations.</p>"},{"name":"Finance Category Api","description":"This API is for fetching the Financial, Non-Financial, Additional Invoice Items and Profit Loss Categories in the Finance Module"},{"name":"Finance Payment Api","description":"This Api is to support the Finance Payment based operation"},{"name":"Finance Royalty Api","description":"This Api is to support the Finance Royalty based operation"},{"name":"Finance Sales Api","description":"This Api is to support the Finance Sales based operation"},{"name":"profit-loss-controller","description":"Profit Loss Controller"}],"paths":{"/categories/sales/franchiseeID/{id}/reportPeriod/{reportPeriod}":{"get":{"tags":["Finance Category Api"],"summary":"Get Finance Categories","description":"This method is to retrieve the Financial Categories","operationId":"Get Finance Categories","produces":["application/xml","application/json"],"parameters":[{"name":"id","in":"path","description":"ParameterType:Integer","required":false,"type":"integer","format":"int32","enum":["Integer"]},{"name":"reportPeriod","in":"path","description":"ParameterType:String","required":false,"type":"string","enum":["String"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Result«List«Map«string,List«Map«string,object»»»»»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/categories/kpis/franchiseeID/{id}/reportPeriod/{reportPeriod}":{"get":{"tags":["Finance Category Api"],"summary":"Get Non Finance Categories","description":"This method is to retrieve the Non Financial Categories","operationId":"Get Non Finance Categories","produces":["application/xml","application/json"],"parameters":[{"name":"id","in":"path","description":"ParameterType:Integer","required":false,"type":"integer","format":"int32","enum":["Integer"]},{"name":"reportPeriod","in":"path","description":"ParameterType:String","required":false,"type":"string","enum":["String"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Result«List«Map«string,List«Map«string,object»»»»»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/categories/addtional-items/franchiseeID/{id}/reportPeriod/{reportPeriod}":{"get":{"tags":["Finance Category Api"],"summary":"Get Additonal Invoice Items","description":"This method is to retrieve the Additional Invoice Items","operationId":"Get Additional Invoice Items","produces":["application/xml","application/json"],"parameters":[{"name":"id","in":"path","description":"ParameterType:Integer","required":false,"type":"integer","format":"int32","enum":["Integer"]},{"name":"reportPeriod","in":"path","description":"ParameterType:String","required":false,"type":"string","enum":["String"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Result«List«Map«string,List«Map«string,object»»»»»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/categories/profit-loss":{"get":{"tags":["Finance Category Api"],"summary":"Get Profit Loss Categories","description":"This method is to retrieve the Profit Loss Categories","operationId":"Get Profit Loss Categories","produces":["application/xml","application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Result«List«Map«string,List«Map«string,object»»»»»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/payments/filter":{"get":{"tags":["Finance Payment Api"],"summary":"Get Payment and their Details","description":"<p>Payments that are made against a royalty report can be retrieved using the Payments endpoint.</p>\n<p>In order to retrieve the payment details, the user should have:</p>\n<ol type=\"a\">\n<li>\n<p>a valid access token. Access tokens, once generated, are valid for 12 hours. Click <span style=\"color: #0563c1;\"><u><a href=\"#_Authentication\">here</a></u></span> to know how access tokens are generated.</p>\n</li>\n<li>\n<p>value of the attribute that is to be used to retrieve the payment. In the below example, \"invoiceNo\" is used as the constraint to retrieve the payment information.</p>\n</li>\n</ol>\n<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {</p>\n<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;\"constraints\":{</p>\n<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; \"invoiceNo\":{</p>\n<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; \"clause\": \"EQUAL\",</p>\n<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; \"values\": [\"210\"]</p>\n<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;}</p>\n<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;}</p>\n<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;}</p>\n<p>Other parameters that can also be used are as below, with the clauses that applicable for each of those constraints.</p>\n<center>\n<table width=\"552\" cellspacing=\"0\" cellpadding=\"7\">\n<tbody>\n<tr valign=\"top\">\n<td style=\"background: #4472c4;\" bgcolor=\"#4472c4\" width=\"7\" height=\"17\">\n<p>&nbsp;</p>\n</td>\n<td style=\"background: #4472c4;\" bgcolor=\"#4472c4\" width=\"111\">\n<p><span style=\"color: #ffffff;\"><strong>Field</strong></span></p>\n</td>\n<td style=\"background: #4472c4;\" bgcolor=\"#4472c4\" width=\"79\">\n<p><span style=\"color: #ffffff;\"><strong>Field Display Name</strong></span></p>\n</td>\n<td style=\"background: #4472c4;\" bgcolor=\"#4472c4\" width=\"238\">\n<p><span style=\"color: #ffffff;\"><strong>Applied Clause</strong></span></p>\n</td>\n<td style=\"background: #4472c4;\" bgcolor=\"#4472c4\" width=\"45\">\n<p><span style=\"color: #ffffff;\"><strong>Format</strong></span></p>\n</td>\n</tr>\n<tr valign=\"top\">\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"7\" height=\"18\">\n<p><strong>1</strong></p>\n</td>\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"111\">\n<p>franchiseRoyaltyId</p>\n</td>\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"79\">\n<p>-</p>\n</td>\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"238\">\n<p>EQUAL, IN</p>\n</td>\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"45\">\n<p>String</p>\n</td>\n</tr>\n<tr valign=\"top\">\n<td width=\"7\" height=\"8\">\n<p><strong>2</strong></p>\n</td>\n<td width=\"111\">\n<p>invoiceNo</p>\n</td>\n<td width=\"79\">\n<p>Invoice No</p>\n</td>\n<td width=\"238\">\n<p>EQUAL, IN</p>\n</td>\n<td width=\"45\">\n<p>String</p>\n</td>\n</tr>\n<tr valign=\"top\">\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"7\" height=\"19\">\n<p><strong>3</strong></p>\n</td>\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"111\">\n<p>paymentNo</p>\n</td>\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"79\">\n<p>payment No</p>\n</td>\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"238\">\n<p>EQUAL, IN</p>\n</td>\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"45\">\n<p>String</p>\n</td>\n</tr>\n<tr valign=\"top\">\n<td width=\"7\" height=\"9\">\n<p><strong>4</strong></p>\n</td>\n<td width=\"111\">\n<p>dateApplied</p>\n</td>\n<td width=\"79\">\n<p>Date Applied</p>\n</td>\n<td width=\"238\">\n<p>EQUAL, GREATER_THAN,</p>\n<p>LESS_THAN, GREATER_THAN_OR_EQUAL,</p>\n<p>LESS_THAN_OR_EQUAL, BETWEEN</p>\n</td>\n<td width=\"45\">\n<p>Date</p>\n</td>\n</tr>\n<tr valign=\"top\">\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"7\" height=\"8\">\n<p><strong>5</strong></p>\n</td>\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"111\">\n<p>franchiseeNo</p>\n</td>\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"79\">\n<p>Franchise ID</p>\n</td>\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"238\">\n<p>EQUAL, IN</p>\n</td>\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"45\">\n<p>String</p>\n</td>\n</tr>\n</tbody>\n</table>\n</center>\n<h2 class=\"western\">&nbsp;</h2>","operationId":"Get Payment and their Details","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"in":"body","name":"salesFilter","description":"ParameterType:PaymentFilter","required":false,"schema":{"$ref":"#/definitions/PaymentFilter"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Result«List«Map«string,object»»»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/profit-loss":{"post":{"tags":["profit-loss-controller"],"summary":"Create New Profit/Loss Statement","description":"This method is to create the Finance Profit/Loss Record","operationId":"Create New Profit/Loss Statement","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"in":"body","name":"datalist","description":"ParameterType:ArrayList<Entity>","required":false,"schema":{"type":"array","items":{"$ref":"#/definitions/Map«string,object»"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Result«List«Map«string,object»»»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/profit-loss/filter":{"post":{"tags":["profit-loss-controller"],"summary":"Get Profit/Loss Statements and their Details","description":"This method is to retrieve the ProfitLoss Records","operationId":"Get Profit/Loss Statements and their Details","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"in":"body","name":"profitLossFilter","description":"ParameterType:ProfitLossFilter","required":false,"schema":{"$ref":"#/definitions/ProfitLossFilter"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Result«List«Map«string,object»»»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/profit-loss/periods/franchisee/{id}":{"get":{"tags":["profit-loss-controller"],"summary":"Get Location Avaiable Report Periods","description":"This method is to retrieve the Location Avaiable Report Periods","operationId":"Get Location Avaiable Report Periods","produces":["application/xml","application/json"],"parameters":[{"name":"id","in":"path","description":"ParameterType:Integer","required":false,"type":"integer","format":"int32","enum":["Integer"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Result«List«List«Map«string,string»»»»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/profit-loss/{id}":{"put":{"tags":["profit-loss-controller"],"summary":"Update Existing Profit/Loss Statement","description":"This method is to update the Finance Profit/Loss Record","operationId":"Update Existing Profit/Loss Statement","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"in":"body","name":"datalist","description":"ParameterType:ArrayList<Entity>","required":false,"schema":{"type":"array","items":{"$ref":"#/definitions/Map«string,object»"}}},{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Result«List«Map«string,object»»»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/royalties/status":{"get":{"tags":["Finance Royalty Api"],"summary":"Get Sales Report Statuses","description":"<p>The payment status for Royalty reports can be retrieved using the endpoint mentioned below:</p>\n<p><strong>Endpoint</strong>: <em>/manage-finance/royalties/status</em></p>\n<p><strong>Operation Name:</strong> GET</p>\n<p>A GET operation is to be performed on the Royalty status endpoint mentioned above. This would provide a list of royalty payment status that are available in the system as well as their corresponding keys.</p>\n<center>\n<table width=\"228\" cellspacing=\"0\" cellpadding=\"7\">\n<tbody>\n<tr valign=\"top\">\n<td style=\"background: #4472c4;\" bgcolor=\"#4472c4\" width=\"63\">\n<p><span style=\"color: #ffffff;\"><strong>Key</strong></span></p>\n</td>\n<td style=\"background: #4472c4;\" bgcolor=\"#4472c4\" width=\"135\">\n<p><span style=\"color: #ffffff;\"><strong>Payment Status</strong></span></p>\n</td>\n</tr>\n<tr valign=\"top\">\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"63\">\n<p><strong>N</strong></p>\n</td>\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"135\">\n<p>Unpaid</p>\n</td>\n</tr>\n<tr valign=\"top\">\n<td width=\"63\">\n<p><strong>P</strong></p>\n</td>\n<td width=\"135\">\n<p>Partially Paid</p>\n</td>\n</tr>\n<tr valign=\"top\">\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"63\">\n<p><strong>C</strong></p>\n</td>\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"135\">\n<p>Fully Paid</p>\n</td>\n</tr>\n</tbody>\n</table>\n</center>\n<p><br /> </p>\n<p>While performing a retrieve operation on the royalties&rsquo; endpoint, the &ldquo;key&rdquo; for the payment status is mentioned in the response that is received.</p>","operationId":"Get Sales Report Statuses","produces":["application/xml","application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Result«List«Map«string,object»»»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/royalties/filter":{"post":{"tags":["Finance Royalty Api"],"summary":"Get Royalty and their Details","description":"This method is to retrieve the Finance Royalty Records","operationId":"Get Royalty and their Details","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"in":"body","name":"salesFilter","description":"ParameterType:PaymentFilter","required":false,"schema":{"$ref":"#/definitions/RoyaltyFilter"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Result«List«Map«string,object»»»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/sales":{"post":{"tags":["Finance Sales Api"],"summary":"Create New Sales Report","description":"<p>Royalty reports are generated on the basis of sales submitted for the locations and can be retrieved in a similar way as retrieving a sales report.</p>\n<p><strong>Endpoint</strong>: <em>/manage-finance/royalties/filter</em></p>\n<p><strong>Operation Name:</strong> POST</p>\n<p>Prior to retrieving royalty reports, the user should have:</p>\n<ol type=\"a\">\n<li>\n<p>a valid access token. Access tokens, once generated, are valid for 12 hours. Click <span style=\"color: #0563c1;\"><u><a href=\"#_Authentication\">here</a></u></span> to know how access tokens are generated.</p>\n</li>\n<li>\n<p>the invoice ID (&ldquo;invoiceNo&rdquo;) of the royalty report for which data is to be retrieved.</p>\n</li>\n</ol>\n<p>A POST request is to be made to the above endpoint with &ldquo;Content-Type&rdquo; as &ldquo;application/json&rdquo;, &ldquo;Authorization&rdquo; as &ldquo;bearer &lt;&lt;accessToken&gt;&gt;&rdquo; (where the &lt;&lt;accessToken&gt;&gt; is to be replaced by the actual access token generated), and &ldquo;X-TenantId&rdquo; as the login URL of the user&rsquo;s FranConnect system prior to&rdquo;/fc&rdquo;.</p>\n<p>The body of the request should be in the format as shown below:</p>\n<p>{</p>\n<p>\"constraints\":{</p>\n<p>\"invoiceNo\":{</p>\n<p>\"clause\": \"EQUAL\",</p>\n<p>\"values\": \"207\"</p>\n<p>}</p>\n<p>}</p>\n<p>}</p>\n<p>Here is a list of all the items that can be used as constraints while retrieving royalty reports along with the &ldquo;clauses&rdquo; that are supported for each constraint.</p>\n<p><br /> </p>\n<center>\n<table width=\"601\" cellspacing=\"0\" cellpadding=\"7\">\n<tbody>\n<tr valign=\"top\">\n<td style=\"background: #4472c4;\" bgcolor=\"#4472c4\" width=\"7\" height=\"34\">\n<p>&nbsp;</p>\n</td>\n<td style=\"background: #4472c4;\" bgcolor=\"#4472c4\" width=\"112\">\n<p><span style=\"color: #ffffff;\"><strong>Field</strong></span></p>\n</td>\n<td style=\"background: #4472c4;\" bgcolor=\"#4472c4\" width=\"117\">\n<p><span style=\"color: #ffffff;\"><strong>Field Display Name</strong></span></p>\n</td>\n<td style=\"background: #4472c4;\" bgcolor=\"#4472c4\" width=\"249\">\n<p><span style=\"color: #ffffff;\"><strong>Applicable Clauses</strong></span></p>\n</td>\n<td style=\"background: #4472c4;\" bgcolor=\"#4472c4\" width=\"44\">\n<p><span style=\"color: #ffffff;\"><strong>Format</strong></span></p>\n</td>\n</tr>\n<tr valign=\"top\">\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"7\" height=\"6\">\n<p><strong>1</strong></p>\n</td>\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"112\">\n<p>franchiseRoyaltyID</p>\n</td>\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"117\">\n<p>-</p>\n</td>\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"249\">\n<p>EQUAL, IN</p>\n</td>\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"44\">\n<p>String</p>\n</td>\n</tr>\n<tr valign=\"top\">\n<td width=\"7\" height=\"17\">\n<p><strong>2</strong></p>\n</td>\n<td width=\"112\">\n<p>invoiceNO</p>\n</td>\n<td width=\"117\">\n<p>Invoice NO</p>\n</td>\n<td width=\"249\">\n<p>EQUAL, IN</p>\n</td>\n<td width=\"44\">\n<p>String</p>\n</td>\n</tr>\n<tr valign=\"top\">\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"7\" height=\"9\">\n<p><strong>3</strong></p>\n</td>\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"112\">\n<p>franchiseeNo</p>\n</td>\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"117\">\n<p>Franchisee ID</p>\n</td>\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"249\">\n<p>EQUAL, IN</p>\n</td>\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"44\">\n<p>String</p>\n</td>\n</tr>\n<tr valign=\"top\">\n<td width=\"7\" height=\"74\">\n<p><strong>4</strong></p>\n</td>\n<td width=\"112\">\n<p>invoiceDate</p>\n</td>\n<td width=\"117\">\n<p>Invoice Date</p>\n</td>\n<td width=\"249\">\n<p>EQUAL, GREATER_THAN,</p>\n<p>LESS_THAN, GREATER_THAN_OR_EQUAL,</p>\n<p>LESS_THAN_OR_EQUAL, BETWEEN</p>\n</td>\n<td width=\"44\">\n<p>Date</p>\n</td>\n</tr>\n<tr valign=\"top\">\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"7\" height=\"1\">\n<p><strong>5</strong></p>\n</td>\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"112\">\n<p>paymentStatus</p>\n</td>\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"117\">\n<p>Payment Status</p>\n</td>\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"249\">\n<p>EQUAL, IN</p>\n</td>\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"44\">\n<p>String</p>\n</td>\n</tr>\n</tbody>\n</table>\n</center>\n<p><br /> </p>","operationId":"Create New Sales Report","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"in":"body","name":"datalist","description":"ParameterType:ArrayList<Entity>","required":false,"schema":{"type":"array","items":{"$ref":"#/definitions/Map«string,object»"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Result«List«Map«string,object»»»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/sales/filter":{"post":{"tags":["Finance Sales Api"],"summary":"Get Sales & their Details","description":"This method is to retrieve the Finance Sales Records","operationId":"Get Sales & their Details","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"in":"body","name":"salesFilter","description":"ParameterType:SalesFilter","required":false,"schema":{"$ref":"#/definitions/SalesFilter"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Result«List«Map«string,object»»»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/sales/periods/franchisee/{id}":{"get":{"tags":["Finance Sales Api"],"summary":"Get Location Avaiable Report Periods","description":"This method is to retrieve the Location Avaiable Report Periods","operationId":"Get Location Avaiable Report Periods_1","produces":["application/xml","application/json"],"parameters":[{"name":"id","in":"path","description":"ParameterType:Integer","required":false,"type":"integer","format":"int32","enum":["Integer"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Result«List«List«Map«string,string»»»»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/sales/status":{"get":{"tags":["Finance Sales Api"],"summary":"Get Sales Report Statuses","description":"This endpoint is to retrieve the Sales Report Statuses","operationId":"Get Sales Report Statuses_1","produces":["application/xml","application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Result«List«Map«string,object»»»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/sales/type":{"get":{"tags":["Finance Sales Api"],"summary":"Get Sales Report Types","description":"This endpoint is to retrieve the Sales Report Types","operationId":"Get Sales Report Types","produces":["application/xml","application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Result«List«Map«string,object»»»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/sales/{id}":{"put":{"tags":["Finance Sales Api"],"summary":"Update Existing Sales Report","description":"This method is to update the Finance Sales Record","operationId":"Update Existing Sales Report","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"in":"body","name":"datalist","description":"ParameterType:ArrayList<Entity>","required":false,"schema":{"type":"array","items":{"$ref":"#/definitions/Map«string,object»"}}},{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Result«List«Map«string,object»»»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}}},"definitions":{"Character":{"type":"object","title":"Character"},"FilterConstraint":{"type":"object","title":"FilterConstraint","description":"This model is used for filter-contraints having field operation and values  "},"Map«string,List«Map«string,object»»»":{"type":"object","title":"Map«string,List«Map«string,object»»»","additionalProperties":{"$ref":"#/definitions/List"}},"Map«string,object»":{"type":"object","title":"Map«string,object»","additionalProperties":{"type":"object"}},"Map«string,string»":{"type":"object","title":"Map«string,string»","additionalProperties":{"type":"string"}},"Page":{"type":"object","properties":{"groupBy":{"type":"string"},"pageId":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"sort":{"$ref":"#/definitions/Sort"},"totalPages":{"type":"integer","format":"int64"},"totalRecords":{"type":"integer","format":"int64"},"viewAll":{"type":"boolean"}},"title":"Page"},"PaymentFilter":{"type":"object","properties":{"constraints":{"type":"object","example":"format: {db_field:{operation:dataValue}","xml":{"name":"constraints","attribute":false,"wrapped":false},"description":"page","allowEmptyValue":false,"additionalProperties":{"$ref":"#/definitions/FilterConstraint"}},"dateApplied":{"type":"array","items":{"type":"string","format":"date-time"}},"fields":{"type":"array","xml":{"name":"fields","attribute":false,"wrapped":false},"description":"fields","allowEmptyValue":false,"items":{"type":"string"}},"franchiseeNo":{"type":"array","items":{"type":"integer","format":"int32"}},"invoiceNo":{"type":"array","items":{"type":"integer","format":"int32"}},"page":{"xml":{"name":"page","attribute":false,"wrapped":false},"description":"page","allowEmptyValue":false,"$ref":"#/definitions/Page"}},"title":"PaymentFilter","description":"Provides the filter parameter"},"ProfitLossFilter":{"type":"object","properties":{"constraints":{"type":"object","example":"format: {db_field:{operation:dataValue}","xml":{"name":"constraints","attribute":false,"wrapped":false},"description":"page","allowEmptyValue":false,"additionalProperties":{"$ref":"#/definitions/FilterConstraint"}},"endDate":{"type":"string","format":"date-time"},"fields":{"type":"array","xml":{"name":"fields","attribute":false,"wrapped":false},"description":"fields","allowEmptyValue":false,"items":{"type":"string"}},"franchisesNo":{"type":"array","items":{"type":"integer","format":"int32"}},"page":{"xml":{"name":"page","attribute":false,"wrapped":false},"description":"page","allowEmptyValue":false,"$ref":"#/definitions/Page"},"plrepId":{"type":"array","items":{"type":"integer","format":"int32"}},"startDate":{"type":"string","format":"date-time"},"storeType":{"type":"array","items":{"$ref":"#/definitions/Character"}},"submissionDate":{"type":"string","format":"date-time"}},"title":"ProfitLossFilter","description":"Provides the filter parameter"},"Response«Result«List«List«Map«string,string»»»»»":{"type":"object","properties":{"response":{"$ref":"#/definitions/Result«List«List«Map«string,string»»»»"}},"title":"Response«Result«List«List«Map«string,string»»»»»"},"Response«Result«List«Map«string,List«Map«string,object»»»»»»":{"type":"object","properties":{"response":{"$ref":"#/definitions/Result«List«Map«string,List«Map«string,object»»»»»"}},"title":"Response«Result«List«Map«string,List«Map«string,object»»»»»»"},"Response«Result«List«Map«string,object»»»»":{"type":"object","properties":{"response":{"$ref":"#/definitions/Result«List«Map«string,object»»»"}},"title":"Response«Result«List«Map«string,object»»»»"},"Result«List«List«Map«string,string»»»»":{"type":"object","properties":{"data":{"type":"array","xml":{"name":"data","attribute":false,"wrapped":false},"items":{"type":"array","items":{"$ref":"#/definitions/Map«string,string»"}}},"page":{"xml":{"name":"page","attribute":false,"wrapped":false},"$ref":"#/definitions/Page"}},"title":"Result«List«List«Map«string,string»»»»","description":"Return the Result of anyType along with data & Page attribute"},"List":{"type":"object","title":"List","additionalProperties":{"type":"string"}},"Result«List«Map«string,List«Map«string,object»»»»»":{"type":"object","properties":{"data":{"type":"array","xml":{"name":"data","attribute":false,"wrapped":false},"items":{"$ref":"#/definitions/Map«string,List«Map«string,object»»»"}},"page":{"xml":{"name":"page","attribute":false,"wrapped":false},"$ref":"#/definitions/Page"}},"title":"Result«List«Map«string,List«Map«string,object»»»»»","description":"Return the Result of anyType along with data & Page attribute"},"Result«List«Map«string,object»»»":{"type":"object","properties":{"data":{"type":"array","xml":{"name":"data","attribute":false,"wrapped":false},"items":{"$ref":"#/definitions/Map«string,object»"}},"page":{"xml":{"name":"page","attribute":false,"wrapped":false},"$ref":"#/definitions/Page"}},"title":"Result«List«Map«string,object»»»","description":"Return the Result of anyType along with data & Page attribute"},"RoyaltyFilter":{"type":"object","properties":{"constraints":{"type":"object","example":"format: {db_field:{operation:dataValue}","xml":{"name":"constraints","attribute":false,"wrapped":false},"description":"page","allowEmptyValue":false,"additionalProperties":{"$ref":"#/definitions/FilterConstraint"}},"fields":{"type":"array","xml":{"name":"fields","attribute":false,"wrapped":false},"description":"fields","allowEmptyValue":false,"items":{"type":"string"}},"franchiseeNo":{"type":"array","items":{"type":"integer","format":"int32"}},"invoiceDate":{"type":"array","items":{"type":"string","format":"date-time"}},"page":{"xml":{"name":"page","attribute":false,"wrapped":false},"description":"page","allowEmptyValue":false,"$ref":"#/definitions/Page"},"paymentStatus":{"$ref":"#/definitions/Character"}},"title":"RoyaltyFilter","description":"Provides the filter parameter"},"SalesFilter":{"type":"object","properties":{"constraints":{"type":"object","example":"format: {db_field:{operation:dataValue}","xml":{"name":"constraints","attribute":false,"wrapped":false},"description":"page","allowEmptyValue":false,"additionalProperties":{"$ref":"#/definitions/FilterConstraint"}},"fields":{"type":"array","xml":{"name":"fields","attribute":false,"wrapped":false},"description":"fields","allowEmptyValue":false,"items":{"type":"string"}},"franchiseeNo":{"type":"array","items":{"type":"integer","format":"int32"}},"page":{"xml":{"name":"page","attribute":false,"wrapped":false},"description":"page","allowEmptyValue":false,"$ref":"#/definitions/Page"},"reportPeriodEnd":{"type":"array","items":{"type":"string","format":"date-time"}},"reportPeriodStart":{"type":"array","items":{"type":"string","format":"date-time"}},"reportSubmitDate":{"type":"array","items":{"type":"string","format":"date-time"}},"reportType":{"type":"array","items":{"$ref":"#/definitions/Character"}},"salesReportID":{"type":"array","items":{"type":"integer","format":"int32"}},"totalSales":{"type":"array","items":{"type":"integer","format":"int32"}}},"title":"SalesFilter","description":"Provides the filter parameter"},"Sort":{"type":"object","properties":{"columns":{"type":"array","items":{"type":"string"}},"direction":{"type":"string","enum":["ASC","DESC"]}},"title":"Sort"}}}
